DATABASE_URL=mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DDESKTOP-T4GNT41%5CSQLEXPRESS%3BDATABASE%3Dteste_CM_STOCK%3BTrusted_Connection%3Dyes%3B

# Opcionais - paginacao padrao das listagens da API
PAGINACAO_TAMANHO_PADRAO=10
PAGINACAO_TAMANHO_MAXIMO=100
